.row{:style=>"background-color: #eee;"}
  .large-12.columns
    #map-canvas
    #form{:style=>"position:relative; margin-top:0px;"}

      =form_for @listing do |f|
        .meal-section
          %h5 Add a new listing
          .row
            .large-6.columns
              %label Title
              =f.text_field :title
              %label Description
              =f.text_area :description, :rows => "5"
              %label Address
              =f.text_field :address, :class => 'address'
            .large-6.columns
              %label Website URL
              =f.text_field :website
              %label Phone Number
              =f.text_field :phone
              %label Contact Email
              =f.text_field :email

              =f.hidden_field :latitude
              =f.hidden_field :longitude
              =f.hidden_field :city
              =f.hidden_field :zip_code
              =f.hidden_field :county
              #notice
        %hr
        .field
          %h4 Which lists does this belong in?
          %br
          -Category.all.each do |c|
            .category-list
              %b=c.name
              = f.collection_check_boxes :list_ids, c.lists, :id, :name do |b|
                .collection-check-box
                  = b.check_box
                  = b.label

        %hr
        %h4 Add Tags
        %label Tag relevant keywords or topics
        #tag-list
        %input{:type => 'text', :name => 'tags', :class => 'autocomplete', :autocomplete=>'off'}
        .autocomplete-options
        =f.hidden_field :tag_list
        -@tags.each do |tag|
          .tag-choice{:'data-tag'=>tag}=tag
        %hr
        =f.submit "create listing", :class => "button", :id => 'submit-listing'

#address-needed.reveal-modal{"data-reveal" => ""}
  %p

:javascript
  $('#listing_phone').mask('(000) 000-0000');
  var tags = [];

  $(document).on('ready page:load', function(){

    initialize();

    $('#submit-listing').on('click', function(e) {
      e.preventDefault();
      valid = false;
      $('#notice').empty();
      if($('#listing_phone').val().length == 14) {
        console.log('valid phone');
        valid = true;
      }

      if($('#listing_website').val().length > 0) {
        if($('#listing_website').val().substring(0,4) != 'http') {
          $('#listing_website').val('http://'+$('#listing_website').val());
        }
        if(isValidUrl($('#listing_website').val())) {
          valid = true;
        }
        else {
          $('#notice').text('The url you entered is not valid');
          valid = false;
        }
      }
      if($('#listing_title').val().length < 3 || $('#listing_description').val().length < 5) {
        $('#notice').text('Please enter a title AND description.');
        valid = false;
      }
      else {
        valid=true;

      }
      if(!valid) {
          $('html, body').animate({
            scrollTop: $("#new_listing").offset().top
        }, 200);
        $('#notice').append('Please enter at least one contact point (phone, email or url).');
      }
      else {

        if($('#listing_latitude').val().length > 0) {
          $('#new_listing').submit();
        }
        else {
          $('#notice').html("Hmmm, it looks like we can't recognize your address.  Please select one of the address suggested in the dropdown that appears as you type.");
        }
      }

    });

  });



  var initialize;
  initialize = function() {
    var autocomplete, input, map, options;
    input = $('.address');
    options = {
      language: 'en-GB',
      center: new google.maps.LatLng(42.446877, -76.505407),
      zoom: 11
    };
    autocomplete = new google.maps.places.Autocomplete(input[0], options);
    map = new google.maps.Map(document.getElementById('map-canvas'), options);
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();
      console.log(place.address_components);
      for (j = 0; j < place.address_components.length; j++) {
          if (place.address_components[j].types[0] == 'postal_code') {
            $('#listing_zip_code').attr("value",place.address_components[j].long_name);
          }
          if (place.address_components[j].types[0] == 'locality') {
            console.log("City: " + place.address_components[j].short_name);
            $('#listing_city').attr("value",place.address_components[j].long_name);
          }
          if (place.address_components[j].types[0] == 'administrative_area_level_2') {
            console.log("county: " + place.address_components[j].short_name);
            $('#listing_county').attr("value",place.address_components[j].long_name);
          }
      }
      $('#listing_latitude').attr("value",place.geometry.location.lat());
      $('#listing_longitude').attr("value",place.geometry.location.lng());


    })

    return google.maps.event.addListener(map, 'bounds_changed', function() {
      autocomplete.bindTo('bounds', map);
    });
  };



  function isValidUrl(textval)   // return true or false.
  {

      console.log(textval);
      var urlregex = new RegExp("^(?!www | www\.)[A-Za-z0-9_-]+\.+[A-Za-z0-9.\/%&=\?_:;-]+$");
      return urlregex.test(textval);
  }

  $( document ).on('keyup','.autocomplete', function() {
      if($(this).val().length > 2) {
        $.get('/autocomplete/tags',{q:$(this).val()}, function(data) {
          $('.autocomplete-options').empty();
          $('.autocomplete-options').show();
          $.each(data, function(index,value) {
            console.log(index,value);
            $('.autocomplete-options').append('<div class="autocomplete-option">'+value.name+'</div>');
          });

        });
      }
      else {
        $('.autocomplete-options').empty();
        $('.autocomplete-options').hide();
      }
  });
  $( document ).on( 'click', '.autocomplete-option', function () {
    $('#tag-list').append('<div class="tag" value="' + $(this).text() + '">' + $(this).text() + '<div class="del">X</div></div>');
    $('.autocomplete-options').empty();
    $('.autocomplete-options').hide();
    str = '';
    $('#tag-list').find('.tag').each(function() {

      str += $(this).attr("value") + ',';
    });
    str = str.substring(0,str.length-1);
    $('#listing_tag_list').val(str);
    $('*[data-tag="'+$(this).text()+'"]').addClass('selected');
    setTimeout(function(){
        $('.autocomplete').val('');
        $('.autocomplete').focus();

    }, 100);
  });
  $( document ).on( 'click', '.del', function (event) {
    $(event.target).parent().remove();

    str = '';
    $('#tag-list').find('.tag').each(function() {
      str += $(this).attr("value") + ',';
    });
    str = str.substring(0,str.length-1);
    $('#listing_tag_list').val(str);
    $('.autocomplete').focus();
  })
  $('.tag-choice').on('click', function(e) {
    if($(this).hasClass('selected')) {

      $(event.target).remove();
    }
    else {
      $('#tag-list').append('<div class="tag" value="' + $(this).text() + '">' + $(this).text() + '<div class="del">X</div></div>');
    }
    $(this).toggleClass('selected');
    str = '';
    $('#tag-list').find('.tag').each(function() {
      str += $(this).attr("value") + ',';
    });
    str = str.substring(0,str.length-1);
    $('#listing_tag_list').val(str);
  });
