
.row#info.shadowed
  .large-12.columns
    &copy; 2017 Sustainable Tompkins | 309 N Aurora St, Ithaca NY 14850 | 607-272-1720 | info@sustainabletompkins.org
    &nbsp |
    -if user_signed_in?
      =link_to('Logout', destroy_user_session_path, method: :delete)
    -else
      = link_to('Login', new_user_session_path)

:javascript

  var dropdowns = $(".dropdown");

  $('.category-select').on('click', function() {
    $('#category-choices').data('val',$(this).data('cat-slug'));
  });
  $('.county-select').on('click', function() {
    $('#county-choices').data('val',$(this).data('county-slug'));
  });

  // Onclick on a dropdown, toggle visibility
  dropdowns.find("dt").click(function(){
    dropdowns.find("dd ul").hide();
    $(this).next().children().toggle();
  });

  // Clic handler for dropdown
  dropdowns.find("dd ul li a").click(function(){
    var leSpan = $(this).parents(".dropdown").find("dt a span");

    // Remove selected class
    $(this).parents(".dropdown").find('dd a').each(function(){
      $(this).removeClass('selected');
    });

    // Update selected value
    leSpan.html($(this).html());

    // If back to default, remove selected class else addclass on right element
    if($(this).hasClass('default')){
      leSpan.removeClass('selected')
    }
    else{
      leSpan.addClass('selected');
      $(this).addClass('selected');
    }

    $.get('/listings/filter', {county:$('#county-choices').data('val'), category:$('#category-choices').data('val')});

    // Close dropdown
    $(this).parents("ul").hide();
  });

  // Close all dropdown onclick on another element
  $(document).bind('click', function(e){
    if (! $(e.target).parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
  });

  $('#listing-search').keyup(function(e) {
    if($(this).val().length > 1) {
      if(e.keyCode==13) {
        $('#query').val($(this).val());
        $("#search_form").submit();
      }
      else {
        $.ajax({
          url: '/autocomplete/search/',
          data: {q:$(this).val()},
          dataType: 'json'
        })
        .done(function(data) {
          $('#search-recommendations').empty();
          $('#search-recommendations').show();

          $.each(data, function(index, value) {
            $('#search-recommendations').append("<div class='suggestion' data-type='"+value.type+"' data-slug='"+value.slug+"'><span>"+value.name+"</span></div>");
          });
        });
        return false;
      }
    }
  });

  $(document).on('click', '.suggestion', function() {
    window.location = $(this).data('slug');
  });
