.row#header
  .large-12.columns
    %h2=link_to 'SFL',root_path
.row#menu-bar
  .large-6.columns
    #search
      %input{:placeholder=>'search finger lakes',:onchange=>"hideIcon(this);"}
  .large-6.columns
    #add-listing.right
      + add a listing


