.row#header.shadowed
  .large-12.columns
    =link_to root_path do
      #header-img=image_tag('header.png')
.row#menu-bar.shadowed
  .large-12.columns{:style=>'text-align:center; color: white; font-size: 1.3em; margin-top:2px;'}
    Join us in making a resilient economy, stronger democracy & healthier regional ecosystem
