.row
  .large-12.columns
    %h3 Approve Listings
    -Listing.inactive.each do |listing|
      %div{:id=>"listing-#{listing.id}"}
        =listing.title
        =link_to 'approve this', approve_listing_path(listing), :remote => :true, :confirm => 'you sure?'
        &nbsp|&nbsp
        =link_to 'delete', listing_path(listing), :method => :delete, :remote => :true, :confirm => 'you sure you want to delete'
