.row#welcome.shadowed
  .large-12.columns
    #category-buttons
      #home-search
        =form_tag map_search_path, :method => :post do
          =text_field_tag :q, '', :placeholder=>'search',:onchange=>"hideIcon(this);"
          =hidden_field_tag :origin,'homepage'

      .category-button
        .category-load{:'data-cat-id'=>5} Sustainable Economy
      .category-button
        .category-load{:'data-cat-id'=>8} Democracy & Justice
      .category-button
        .category-load{:'data-cat-id'=>6} Environmental Protection
      .category-button
        .category-load{:'data-cat-id'=>7} Healthy Culture
      .category-button
        .category-load{:'data-cat-id'=>1} Energy & Climate
      .category-button
        .category-load{:'data-cat-id'=>2} Food System
      .category-button
        .category-load{:'data-cat-id'=>3} Built Environment
      .category-button
        .category-load{:'data-cat-id'=>4} Transportation




:javascript
  $('.category-select').addClass('category-load');
  $('.category-load').on('click', function() {
    var selection = $(this).text();
    window.location = '/map/'+selection;

  });

  $('#home-search input').bind("enterKey",function(e){
     $(this).parent().submit();
  });
  $('#home-search input').keyup(function(e){
      if(e.keyCode == 13)
      {
          $(this).trigger("enterKey");
      }
  });