.row#welcome.shadowed
  .large-12.columns
    #category-buttons
      #home-search
        %input{:placeholder=>'search finger lakes',:onchange=>"hideIcon(this);"}
      -@categories.each do |cat|
        .category-button
          .category-load{:'data-cat-id'=>"#{cat.id}"}=cat.name


:javascript
  $('.category-select').addClass('category-load');
  $('.category-load').on('click', function() {
    var selection = $(this).text();
    window.location = '/map/'+selection;

  });
