.row#welcome.shadowed
  .large-12.columns
    #category-buttons
      #home-search
        %input{:placeholder=>'search finger lakes',:onchange=>"hideIcon(this);"}

      .category-button
        .category-load{:'data-cat-id'=>5} Sustainable Economy
      .category-button
        .category-load{:'data-cat-id'=>8} Democracy & Justice
      .category-button
        .category-load{:'data-cat-id'=>6} Environmental Protection
      .category-button
        .category-load{:'data-cat-id'=>7} Healthy Culture
      .category-button
        .category-load{:'data-cat-id'=>1} Energy & Climate
      .category-button
        .category-load{:'data-cat-id'=>2} Food System
      .category-button
        .category-load{:'data-cat-id'=>3} Built Environment
      .category-button
        .category-load{:'data-cat-id'=>4} Transportation




:javascript
  $('.category-select').addClass('category-load');
  $('.category-load').on('click', function() {
    var selection = $(this).text();
    window.location = '/map/'+selection;

  });
