.row#welcome.shadowed
  .large-12.columns
    #category-buttons
      #home-search
        =form_tag map_search_path, :method => :post do
          =text_field_tag :q, '', :placeholder=>'search',:onchange=>"hideIcon(this);"
          =hidden_field_tag :origin,'homepage'

      .category-button
        .category-load{:'data-cat-id'=>5, :'data-cat-slug'=>'sustainable-economy'} Sustainable Economy
      .category-button
        .category-load{:'data-cat-id'=>8, :'data-cat-slug'=>'democracy-justice'} Democracy & Justice
      .category-button
        .category-load{:'data-cat-id'=>6, :'data-cat-slug'=>'envirnomental-protection'} Environmental Protection
      .category-button
        .category-load{:'data-cat-id'=>7, :'data-cat-slug'=>'healthy-culture'} Healthy Culture
      .category-button
        .category-load{:'data-cat-id'=>1, :'data-cat-slug'=>'energy-climate'} Energy & Climate
      .category-button
        .category-load{:'data-cat-id'=>2, :'data-cat-slug'=>'food-system'} Food System
      .category-button
        .category-load{:'data-cat-id'=>3, :'data-cat-slug'=>'built-environment'} Built Environment
      .category-button
        .category-load{:'data-cat-id'=>4, :'data-cat-slug'=>'transportation'} Transportation




:javascript
  $('.category-select').addClass('category-load');
  $('.category-load').on('click', function() {
    var selection = $(this).data('cat-slug');
    window.location = '/map/category/'+selection;

  });

  $('#home-search input').bind("enterKey",function(e){
     $(this).parent().submit();
  });
  $('#home-search input').keyup(function(e){
      if(e.keyCode == 13)
      {
          $(this).trigger("enterKey");
      }
  });
