.row
  .large-12.columns
    #lists
      #category-title
        %h4=@category.name
      #category-lists
        =render @lists
    #map_wrapper
      #map_canvas.mapping
    #listings
      %h4 #{@category.name} Listings
      -if @listings.count > 0
        =render @listings
:css
  #lists {
    float:left;
    margin: 10px 15px 10px 5px;
    font-size: .9em;
  }
  #map_wrapper {
      height: 350px;
      margin-left: 300px;
      margin-right: 15px;
  }
  #listings {
      margin-left: 300px;
      margin-right: 15px;

  }
  #map_canvas {
      width: 100%;
      height: 100%;
  }

%script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
/ only if you need custom infoboxes

:javascript
  $(document).on('click', '.list-name', function() {
    var selection = $(this).parent().data('list-id');
    $.get('/list/'+selection);

  });
  $(document).on('click', '.tag', function() {
    list = $(this).parent().parent();
    console.log(list.data('list-id'));
    var tag = $(this).data('tag-id');
    $.get('/list/'+list.data('list-id')+'/tags/'+tag);

  });
  initialize();
  function setMapOnAll(map) {
    for (var i = 0; i < gmarkers.length; i++) {
      gmarkers[i].setMap(null);
    }
  }
  function showMarkers() {
    gmarkers = [];

    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        gmarkers.push(marker);
        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen

    }
    map.fitBounds(bounds);
    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        if (map.getZoom() > 14) map.setZoom(14);
        google.maps.event.removeListener(boundsListener);
    });
  }
  function initialize() {

      bounds = new google.maps.LatLngBounds();
      mapOptions = {
          mapTypeId: 'roadmap'
      };

      // Display a map on the page
      map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
      map.setTilt(45);

      // Multiple Markers
      markers = #{raw @hash};
      infoWindowContent = #{raw @info};


      // Loop through our array of markers & place each one on the map
      showMarkers();

  }