.row
  .large-12.columns
    %br
    .search-box
      %input#listing-search{:style=>'font-size: 1.2em; padding: 5px; margin: 10px;', :html=>{:placeholder => "search the finger lakes"}}
      #search-recommendations
    %br
    %button#start start

.row
  -@counties.each_with_index do |county,k|
    -if k % 3 == 0
      .clear
    .large-4.medium-4.small-12.columns.county
      %h4=link_to county.county, 'map/county/'+county.county
      %ul
      -county.places.each do |place|
        %li=link_to "#{place.city} (#{place.listings.approved.count})", '/map/place/'+place.city



:javascript
  count = 0;
  var int;
  $('#listing-search').keyup(function() {
    if($(this).val().length > 1) {
      $.ajax({
        url: '/autocomplete/search/',
        data: {q:$(this).val()},
        dataType: 'json'
      })
      .done(function(data) {
        $('#search-recommendations').empty();
        $.each(data, function(index, value) {
          $('#search-recommendations').append("<div class='suggestion' data-type='"+value.type+"' data-slug='"+value.slug+"'><span>"+value.name+"</span></div>");
        });
      });
      return false;
    }
  });

  $(document).on('click', '.suggestion', function() {
    window.location = $(this).data('slug');
  });


  $('#start').on('click', function() {
    int = setInterval(updateAddress, 15000);

  });

  function updateAddress() {
    var latlng = new google.maps.LatLng($('.listing:eq('+count+')').find('.lat').text(), $('.listing:eq('+count+')').find('.lng').text());
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({'latLng': latlng}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            if (results[0]) {
                county = '';
                city = '';
                zip = '';
                address = '';
                console.log("count?:" + count);
                console.log(latlng);
                for (j = 0; j < results[0].address_components.length; j++) {
                  if (results[0].address_components[j].types[0] == 'postal_code') {
                    zip = results[0].address_components[j].short_name
                  }
                  if (results[0].address_components[j].types[0] == 'locality') {
                    city = results[0].address_components[j].short_name;
                  }
                  if (results[0].address_components[j].types[0] == 'administrative_area_level_2') {
                    county = results[0].address_components[j].short_name;

                    county = county.replace(' County', '');
                  }
                }
                console.log(county);
                console.log(city);
                console.log(zip);
                console.log(results[0].formatted_address.replace(', USA', ''));
                $.ajax({
                    url: "/listings/"+$('.listing:eq('+count+')').find('.id').text(),
                    method: 'PATCH',
                    data: {listing: {county: county, city:city, zip_code: zip, address: results[0].formatted_address.replace(', USA', '')}}
                });

            }
            count++;
            if((count+1) == $('.listing').length) {
              clearInterval(int);
            }
        } else {
            console.log("Geocoder failed due to: " + status);
        }
    });

  }


:css

  #search-recommendations {
    margin: 10px;
    padding: 4px;
    background-color: #fff;
    color: black;
  }
  .suggestion {
    border-bottom: 1px solid gray;
    cursor: pointer;
  }
  .clear {
    clear:both;
  }
  .suggestion:hover {
    border-bottom: 1px solid gray;
    color: green;
  }

  .county {
    background-color: #eee;
    margin-bottom: 14px;
  }
  .even {
    background-color: #ede;
  }

  li {
    list-style-type:none;
    margin-left: 8px;
  }
