/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


$light-blue:#c0e3f6;
$dark-blue:#0b629d;
$red: #bf2e1a;
$green:#60983b;
$yellow:#fcaf17;
@import 'https://fonts.googleapis.com/css?family=Ropa+Sans';
body,h1,h2,h3,h4,h5, button, .button, input {
  font-family: 'Ropa Sans', sans-serif;
}

/* dropdown */


/* Variables */
$width: 15em; // dropdown width
$height: 2.5em; // dropdown height
$ajust: 1em; // left & right padding in dropdown menu
$radius: 3px;

/* Colors */
$black: #4d4d4d;
$grey: #ecf0f1;
$dark-grey: #bdc3c7;
$green: #2ecc71;


/* Common style */
*{ box-sizing: border-box; }

body{
  font-family: 'Open Sans', sans-serif;
  color: $black;
}

h1{
  font-family: 'Playball', cursive;
  font-size: 6em;
  font-weight: 700;
  text-align: center;
  color: $green;

  margin: 0.25em 0; // Cosmetic value
}

h2{
  font-style: italic;
  text-align: center;

  margin-bottom: 2em; // Cosmetic value
}

main{
  background: #333;
  width: 100%;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-style: italic;

  a{
    color: #e75854;
    text-decoration: none;
    transition: color 250ms ease-in-out;

    &:hover{ color: #fafafa; }
  }
}

/* Dropdown style */

.dropdown{
  width: $width;
  margin : 0 auto;
  background-color: white;

  margin-bottom: 1em; // Cosmetic value

  dt{
    a {
      display: block;
      height: $height;
      width: 100%;

      border: 1px solid $grey;
      border-radius: $radius;
      text-decoration: none;

      &:hover, &:active{
        border-color: $dark-grey;
      }
    }

    span{
      display: block;
      padding: 0 $ajust;

      line-height: $height;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHo+AACAQQAA+MoAAIC0AAB48QAA9RwAADw3AAAbzhlfIT4AAACJSURBVHjajNAxCsJAEEbhb5cU4i0sbHIaL6IQTxFPo4VeROwXQs4gKW1cWJZEM90wj5l5f0jDeMXBunqENIw7vLD9A09oIxL6FdsvSCENI2zwxH4BTmgxxeJc92P76cuIpRBuc6K45yZWwzPeleixBOLMr30tWgJZuqwcQJNFy2GzkHeHUMPwGQChFSPmzlJ1WgAAAABJRU5ErkJggg==) no-repeat scroll right center;
      border-right: $ajust solid transparent;
      cursor: pointer;
    }
  }

  dd {
    position: relative;
      z-index: 1200;

    ul {
      display: none;
      position: absolute;
      left: 0;
      top: -$height;
      width: 100%;

      list-style: none;
      background: #fff none repeat scroll 0 0;
      border: 1px solid $dark-grey;
      border-radius: $radius;

      li:first-child a:hover{
        border-radius: $radius $radius 0 0;
      }

      li:last-child a:hover{
        border-radius: 0 0 $radius $radius;
      }
    }

    li a {
      display: block;
      padding: 0 $ajust;

      line-height: $height;
      text-decoration: none;

      &:hover{
        background-color: $green;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.dropdown.left-side {
  margin: 10px 20px;
}
.dropdown.homepage {
  font-size: 1.3em;
  margin-bottom: 70px;
}

.selected{
  font-weight: 700;
}


input {
	width: 100%;
}

.collection-check-box {
	width: 100%;
	display:inline-block;

	input[type="label"]
	{
	    display: inline-block;
	}
}
.collection-check-box input[type="checkbox"]
	{
	    display: inline-block;
	    width: 20px;
	}

.tag-choice {
	background-color: #bbb;
	padding: 4px 6px;
	display:inline-block;
	margin-right: 5px;
	margin-bottom: 4px;
}
.tag-choice.selected {
	background-color: #c0c;
}

.category {
	li{
		margin-left: 40px;
		list-style-type:none;
	}
	ul {
	  font-size: 20px;
	  font-weight: bold;
	}
	width: 33%;
	padding: 10px;
  background-color: #aaa;
  display: inline-block;
  margin-bottom: 8px;
  vertical-align: top;
}

#content {
  margin-top: 70px;
}

#header {
  i {
    font-size: 40px;
    color: #c0c;
  }
  h2 {
    margin: 0px;
    padding: 0px;
  }
   background-color: blue;
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}

#welcome {
  background-image: url('/assets/flx.png');
  width: 100%;
  height: 400px;
  margin-bottom: 18px;
}

.greeting {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}

#lists {
  h3 {
    font-size: 1.3em;
    font-weight: bold;
  }
}

.category-list {
  padding: 3px;
  margin-bottom: 10px;
  width: 33%;
  display: inline-block;
    vertical-align: top;

}

.list {
  cursor: pointer;
  color: red;
  font-size: 1.1em;
  margin-bottom: 5px;
}
.list.active {
  color: green;
  font-size: 1.2em;
  font-weight: bold;
}

.list:hover {
  cursor: pointer;
  color: green;
}

.tags {
  margin-left: 8px;
  color: black;
}
.tag {
  font-weight: normal;
}
.tag:hover {
  cursor: pointer;
}
#listings {
  margin-top: 12px;
}

.listing {
  display: block;
  padding: 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 9px;
  h4 {
    color:green;
  }
  p {
    margin-left: 7px;
  }
  span {
    font-size: .85em;
    line-height: 1.2em;
    display: block;
  }
}
.autocomplete-options {
  margin-top: -10px;
  font-size: 16px;
  min-width: 200px;
  line-height: 18px;
  color: #222;
  display:none;

}
.autocomplete-option {
  padding: 3px 8px;
  border-bottom: 1px solid gray;

}

.autocomplete-option:hover {
  padding: 3px 8px;
  border-bottom: 1px solid gray;
  background-color:#c0c;
}
#notice {
  color: red;
  font-weight: bold;
  background-color: #eee;
  padding: 7px;
}


#tag-list {
  margin: 5px;
}
#tag-list div {
  display: inline;
}
.tag {
  padding: 4px 8px;
  background-color: #4174c5;
  color: #eee;
  margin-right: 4px;
  display: inline;
  a {
    color: #eee;
  }
  a:hover {
    color: #fff;
  }
  .del {
    cursor:pointer;
    font-weight: bold;
    margin-left: 5px;
    color: #ccc;
  }
  .del:hover {
    color: #000;
  }
}
.tags{
  margin:4px 0;
  padding:0;
  list-style:none;
  display: block;
}

.tags li, .tags a{
  float:left;
  height:20px;
  line-height:20px;
  position:relative;
  font-size:1.1em;
}

.tags a{
  margin-left: 3px;
  font-weight: 600;
}
.tags a:hover::after {
  content: ' >';
}
.tags a:before{
  content:"#";
  float:left;
  top:0;

}

.tags a:hover {
  font-weight: 600;
}
